body {
    background: #dcf0eb url('mm-query.png');
    background-size: 100%;
}

body.mm-is-page-online {
    background: #dcf0eb url('mm.png') !important;
    background-size: 100% !important;
}

h1 {
	margin-top: 60px; text-align: center;
	font-family: helvetica, serif;
}

h1 a {
	text-decoration: none !important;
}

a {
	color: navy;
}

.less-interesting {
	font-size: smaller;
}

.tech-help {
	margin-top: 1em;
	max-width: 40%;
}

.current-mapathon {
	margin-bottom: 1em;
}

.correct, .error, .checking {
	font-weight: bold;
}
.correct {

}
.error {

}

.no-js-show {
    display: none;
}

.checking:before, .correct:before, .error:before {
    font-family: 'Web Symbols';
    padding: 0.2em;
}
.checking:before {
    content: "*";
    color: darkgray;
}
.correct:before {
    content: "/";
    color: darkgreen;
}
.error:before {
    content: "'";
    color: darkred;
}

@font-face {
	font-family: 'Web Symbols';
	src: url('font/WebSymbols-Regular.eot');
	src: url('font/WebSymbols-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/WebSymbols-Regular.woff') format('woff'),
        url('font/WebSymbols-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
