body {
	background: url('mm-query.png');
	background-size: 100%;
}

body.mm-is-page-online {
	background: url('mm.png') !important;
	background-size: 100% !important;
}

h1 {
	margin-top: 60px; text-align: center;
	font-family: helvetica, serif;
}

h1 a {
	text-decoration: none !important;
}

a {
	color: navy;
}

.less-interesting {
	font-size: smaller;
}

.tech-help {
	margin-top: 1em;
}

.current-mapathon {
	margin-bottom: 1em;
}
